<a href="https://colab.research.google.com/github/dine297/python-learning/blob/main/EX_04_oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String Formatting

In [ ]:
star="Twinkle, twinkle, little star, \n \t How I wonder what you are! \n \t \t Up above the world so high, \n \t \t Like a diamond in the sky. \nTwinkle, twinkle, little star, \n \t How I wonder what you are"
print(star)

Twinkle, twinkle, little star,
 	 How I wonder what you are!
 	 	 Up above the world so high,
 	 	 Like a diamond in the sky.
Twinkle, twinkle, little star,
 	 How I wonder what you are

Get The Python Version

In [ ]:
import sys
import platform
print("Pyhthon Version:" + platform.python_version())
#print(platform.python_version())
print(sys.version_info)

Pyhthon Version:3.7.12
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

Date and Time

In [ ]:
from datetime import date
from datetime import datetime

now = datetime.now()

today = date.today()
print("Today's date:", today)

# dd/mm/YY
d1 = today.strftime("%d/%m/%Y")
print("d1 =", d1)

# Textual month, day and year	
d2 = today.strftime("%B %d, %Y")
print("d2 =", d2)

# mm/dd/y
d3 = today.strftime("%m/%d/%y")
print("d3 =", d3)

# Month abbreviation, day and year	
d4 = today.strftime("%b-%d-%Y")
print("d4 =", d4)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

Today's date: 2021-10-04
d1 = 04/10/2021
d2 = October 04, 2021
d3 = 10/04/21
d4 = Oct-04-2021
date and time = 04/10/2021 07:04:39

In [ ]:
# Area = pi r square
r=2
area=((22/7) * (r*r))
print(area)

12.571428571428571

Print the name in reverse

In [ ]:
fn = input('Enter your First Name:')
ln = input('Enter your Last Name:')
print(ln,fn)

Enter your First Name:Dinesh
Enter your Last Name:Murthy
Murthy Dinesh

Numbers to list and tuple

In [ ]:
#numbers = input("Enter the number's in a comma separator:")
#numbers=list(numbers)
#numberslist=numbers.split(',')
#print(numberslist)
#numbers1=tuple(numberslist)
############################
lst=[]
n = int(input("Enter the number of elements:"))
#print(n)
for i in range(0,n):
  numbers = input("Enter the number " + str(i+1) + " :")
  lst.append(numbers)
print(lst)
print(tuple(lst))

Enter the number of elements:2
Enter the number 1 :2
Enter the number 2 :55
['2', '55']
('2', '55')

Add extension in the given file name

In [ ]:
name=input("Enter Your File Name with extension:")
print(name.split('.')[1])

Enter Your File Name with extension:dineh.java
java

 To display the first and last colors from the following list.

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0], color_list[-1])

Red Black

In [ ]:
exam_st_date = 11, 12, 2014
print(str(exam_st_date[0]) + "/" + str(exam_st_date[1]) + "/" + str(exam_st_date[2]))

11/12/2014

n+nn+nnn. i.e 5+55+555
Sample value of n is 5
Expected Result : 615

In [12]:
n=5
steps=5
res=0
for i in range(1,steps+1):
  nvalue=i*str(n)
  #print(int(nvalue))
  res=res+int(nvalue)
  #print(res)
    
print(res)

61725